@charset "utf-8";
body,html,a,img,div,form,select,input,ul,ol,li,h1,h2,h3,h4,h5,h6,dd,dl,dt,p,label,em,span,cude,i{margin:0;padding:0;list-style:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-size:.24rem;font-family:Helvetica,STHeiti,Droid Sans Fallback;color:#333;width:100%;height:100%;}
a{color:#333;text-decoration:none;}
ol,ul,li{list-style:none;}
em,i{font-style:normal;}
img{border:none;}
header,footer,section,aside,article,nav,dialog,figure{display:block;}
textarea{-webkit-appearance:none;}
.cf{*zoom:1}
.cf:after{content:'';display:block;height:0;clear:both;}
.fl{float:left;}
.fr{float:right;}
.lh{line-height:5rem;overflow:hidden;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.searchw{width:100%;margin:0 auto;}
.searchTitle{height:1rem;line-height:1rem;font-size:.4rem;color:#fff;text-align:center;background-color: #2f8efc;font-weight:bold}
.searchcont .ht{color:#2f8efc;font-weight:.3rem;line-height:.8rem;border-bottom:1px solid #ccc;padding-left:.2rem;font-weight:bold;}
.searchcont .inputs li{min-height:.6rem;border-bottom: 1px solid #e6e6e6;padding: .1rem 0;}
.searchcont .inputs li span{width:2rem;padding-right:.1rem;line-height:.8rem;text-align:right;display:inline-block;}
.searchcont .inputs li input{border:none;font-size: .26rem;outline:none;}
.searchcont .inputs .rbox2{width:70%;}
.searchcont .btn{text-align:center;}
.searchcont .btn input{outline:none;font-size: .26rem;padding:0 .1rem;height: .6rem;background-color:#2196f3;color:#fff;border-radius:.05rem;line-height:.5rem;box-shadow: 1px 1px 1px #111;border:none;text-align:center;display:inline-block;margin:.2rem .1rem 0;}

.searchcont #qrcode{display:inline-block;vertical-align: middle;}
.searchcont .filestyle{width:3.4rem;height:.5rem;display:inline-block;vertical-align: middle;overflow:hidden;}
.searchcont .filestyle #file1{height:100%;}
.mt01{margin-top:20px;}
.searchcont .btnup{display:inline-block;width:1rem;height:.5rem;vertical-align: middle;}
.searchcont .btnup #uploadCert_0{font-size:.24rem;width:1rem;height:.5rem;background-color:#2f8efc;color:#fff;line-height:.5rem;border:none;display:block;}
.table1box{width:100%;overflow-x: auto;}
.table1{font-size:.24rem;border-top:1px solid #eee;border-left:1px solid #eee;}
.table1 th,.table1 td{border-bottom:1px solid #eee;border-right:1px solid #eee;padding:.1rem;text-align: center;white-space: nowrap;}
.table1 tr:hover{background-color:#eee;}
.table1 a{color: #2f8efc;}
.table1 .ewm{width:1rem;height:1rem;}
.table1 .ewmli{display:block;margin:0 auto;}
label{display:inline-block;margin-right:.1rem;line-height:.5rem;vertical-align:middle}
.rbox{width:70%;display:inline-block;vertical-align:middle}
input[type="radio"]{margin:0 .05rem;line-height:.5rem;vertical-align:middle;display:inline-block;background: #f00;/* border: 1px solid red; */}
.searchcont .input_orderinfo{text-align:center}
.searchcont .input_orderinfo input[type="text"]{border:1px solid #ccc;height:.5rem;margin:.05rem 0;width:2.8rem;padding: 0 .1rem;}
.searchcont .input_orderinfo li span{width:1.8rem;line-height:.5rem;margin:.05rem 0}
.searchcont .rbox2{width:50%;display:inline-block;vertical-align:middle;text-align:left;}
#orderSearch{margin: .2rem .1rem;padding:0 .1rem;display:inline-block;height:.5rem;line-height:.5rem;font-size: .26rem;background: #2f8efc;color:#fff;border-radius:.05rem;box-shadow: 1px 1px 1px #111;}
.orderinfo th{background: #e6e6e6;line-height:.6rem;border: none;color: #333;padding:.1rem .05rem;white-space: nowrap;}
.orderinfo td{line-height:.3rem;font-size:.2rem;padding:.1rem .05rem;}
.orderinfo tr:nth-child(2n-1){background: #f2f3f5;}
.orderinfo input[type="button"]{outline:none; font-size:.24rem;height:.4rem;padding:0 .1rem;border: none;background:none;color: #fff;background: #2f8efc;display:inline-block;border-radius: 2px;box-shadow: 1px 1px 1px #111;}
.gotoaddPage{margin: .2rem .1rem;padding:0 .1rem;display:inline-block;height:.5rem;line-height:.5rem;background: #2f8efc;box-shadow: 1px 1px 1px #111;color:#fff;border-radius:.05rem;}
.notice{color:red;line-height:.4rem;padding:.2rem .3rem;}
.notice .pr{margin-top:.2rem;color:#333;  position:relative;border:1px solid #ccc;border-radius:.1rem;padding:.1rem;box-shadow:1px 1px 2px 2px #eee;padding:.2rem .25rem}
.notice .close{font-weight:bold;cursor: pointer;  float:right;position:absolute;top:-.15rem;right:-.15rem;height:.4rem;width:.4rem;background:#333;border-radius:100%;text-align:center;color:#fff }
.noticeAdd textarea{display:inline-block;vertical-align:top;width:70%}
.warnAdd textarea{display:inline-block;vertical-align:top;width:70%}
.tc{text-align:center !important}