<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>现代码头作业预登记平台</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="full-screen" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="false" id="twcClient" name="twcClient"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/setfont.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/qrcode.js"></script>
    <script src="/js/datePicker.js"></script>
</head>
<body>
<div class="searchw">
    <div class="searchTitle">现代码头作业预登记客户查询</div>
    <div class="searchcont">
        <form method="post" id="form1">
            <div class="inputs input_orderinfo">
                <li>
                    <span>开始时间：</span>
                    <div class="rbox2">
                        <input type="text" name="startDate" id="jobOrderDateStart"
                               th:value="${orderSearch.startDate }"/>
                        <label>
                            <input type="radio" name="startDuty" value="白班"
                                   th:checked="${orderSearch.startDuty eq '白班'}">白班</input>
                        </label>
                        <label>
                            <input type="radio" name="startDuty" value="夜班"
                                   th:checked="${orderSearch.startDuty eq '夜班'}">夜班</input>
                        </label>
                    </div>
                </li>
                <li>
                    <span>结束时间：</span>
                    <div class="rbox2">
                        <input type="text" name="endDate" id="jobOrderDateEnd" th:value="${orderSearch.endDate }"/>
                        <label>
                            <input type="radio" name="endDuty" value="白班"
                                   th:checked="${orderSearch.endDuty eq '白班'}">白班</input>
                        </label>
                        <label>
                            <input type="radio" name="endDuty" value="夜班"
                                   th:checked="${orderSearch.endDuty eq '夜班'}">夜班</input>
                        </label>
                    </div>
                </li>
                <li>
                    <span>预登记手机：</span>
                    <div class="rbox2">
                        <input type="text" placeholder="不可为空" name="telephone" th:value="${orderSearch.telephone}"
                               id="telephone"/>
                    </div>
                </li>
                <li>
                    <input type="button" value="预登记查询" id="orderSearch"/>
                    <input type="button" value="作业预登记" onclick="gotoAddPage()" class="gotoaddPage"/>
                </li>
            </div>
        </form>
        <table width="100%" class="orderinfo" cellpadding="0" cellspacing="0">
            <tr>
                <th>日期</th>
                <th>类型</th>
                <th>单位</th>
                <th>货名</th>
                <th>船名航次</th>
                <th>件数</th>
                <th>重量</th>
<!--                <th>手机</th>-->
            </tr>
            <tr th:each="order:${ordersList}" class="orderTr">
                <td align="center" th:text="${order.time}"></td>
                <td align="center" th:each="jobType:${jobTypeList}" th:if="${order.typeId == jobType.id}"
                    th:text="${jobType.name}"></td>
                <td align="center" th:text="${order.driver}"></td>
                <td align="center" th:each="jobGoods:${jobGoodsList}" th:if="${order.goodsId == jobGoods.id}"
                    th:text="${jobGoods.name}"></td>
                <td align="center" th:text="${order.vesselVoyage}"></td>
                <td align="center" th:text="${order.goodsNum}?${order.goodsNum}:0" class="goodsNumTd"></td>
                <td align="center" th:text="${order.weight}?${order.weight}:0" class="weightTd"></td>
<!--                <td align="center" onmouseover="showTelephone">查看</td>-->
                <!-- td align="center">
                    <input type="button" value="修改" onclick="gotoUpdatePage('${order.id }')" />
                    <input type="button" value="刪除" class="deletes"/>
                    <span style="display: none;">${order.id }</span>
                </td -->
            </tr>
            <tr>
                <td align="center">合计</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td align="center" id="goodsNumSum"></td>
                <td align="center" id="weightSum"></td>
<!--                <td></td>-->
            </tr>
        </table>
    </div>
    <br/>
</div>

<script>
        // 合计功能
		$(document).ready(function() {
			var goodsNumSum=0;
			var weightSum=0;
			//必须用class而不能用id吗
			$(".orderTr").each(function(index){
				var goodsNum=$(this).find('.goodsNumTd').text();
				if(goodsNum == ''){
					goodsNum=0;
				}
				goodsNumSum+=parseInt(goodsNum);
			});

			$(".orderTr").each(function(index){
				var weight=$(this).find('.weightTd').text();
				if(weight == ''){
					weight=0;
				}
				weightSum+=parseInt(weight);
			});

			$("#goodsNumSum").text(goodsNumSum);
			$("#weightSum").text(weightSum);
		});

		//日期控件
		var calendar = new datePicker();
        calendar.init({
            'trigger': '#jobOrderDateStart', /*按钮选择器，用于触发弹出插件*/
            'type': 'date',/*模式：date日期；datetime日期时间；time时间；ym年月；*/
            'minDate':'1900-1-1',/*最小日期*/
            'maxDate':'2100-12-31',/*最大日期*/
            'onSubmit':function(){/*确认时触发事件*/
                $('#jobOrderDateStart').attr('value',calendar.value);
            },
            'onClose':function(){/*取消时触发事件*/
            }
        });
		var calendar2 = new datePicker();
        calendar2.init({
            'trigger': '#jobOrderDateEnd', /*按钮选择器，用于触发弹出插件*/
            'type': 'date',/*模式：date日期；datetime日期时间；time时间；ym年月；*/
            'minDate':'1900-1-1',/*最小日期*/
            'maxDate':'2100-12-31',/*最大日期*/
            'onSubmit':function(){/*确认时触发事件*/
                $('#jobOrderDateEnd').attr('value',calendar2.value);
            },
            'onClose':function(){/*取消时触发事件*/
            }
        });

        //查询条件判断
		function cha(form) {
			//jobOrderDateStart不为空时，jobOrderDateEnd也不为空
			if (!form.jobOrderDateStart.value.match(/^\s*$/)) {
				if (form.jobOrderDateEnd.value.match(/^\s*$/)) {
					form.jobOrderDateEnd.focus();
					alert("结束时间 不能为空!");
					return false;
				}
			}
			if (form.telephone.value.match(/^\s*$/)) {
				form.telephone.focus();
				alert("预约手机 不能为空!");
				return false;
			}
			if (!form.telephone.value.match(/^[1][3-9][\d]{9}/)) {
				if (!form.telephone.value.match(/^(\({0,1}\d{3,4})\){0,1}(-){0,1}(\d{7,8})$/)) {
					form.telephone.focus();
					alert("请正确输入手机号码或者电话号码!");
					return false;
				}
			}

			return true;
		}
		$('#orderSearch').on('click', function() {
			if (true == cha(document.getElementById("form1"))) {
				document.getElementById("form1").action = "/orderSearch";
				document.getElementById("form1").submit();
			}
		})

		//进入预登记功能
		function gotoAddPage(){
			window.location.href="/goOrderAdd";
		}

		//进入修改action
		function gotoUpdatePage(ID){
			window.location.href="<%=path%>/goUpdate.action?jobOrder.id="+ID;
		}

		//删除功能
		$(document).ready(function(){
			$(".deletes").click(function(){
				 if(confirm('您确定删除吗?此操作将不能恢复')){
				  	$(this).parents("tr").animate({ opacity: 'hide' }, "slow");
				    var a = $(this).next("span").html();
				    delteMethod(a);
				 	return true;
				 }else{
				    return false;
				 }
			});
		});

	    function delteMethod(obj){
			var params="jobOrder.id="+obj+"&randon="+ new Date().getTime();
			$.ajax({
			    type: "get",
				url: "<%=path%>/deleteOrder.action",
				data:params,
				success: function(responseData, textStatus){
					alert('删除成功');
				},
				error: function(){
					alert("网络传输出错,请再试一次!");
				}
			});
		}


</script>
</body>
</html>