<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amoydays.jobs.dao.JobNoticeMapper">
  <resultMap id="BaseResultMap" type="com.amoydays.jobs.entity.JobNotice">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_notice
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectTopOne" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from job_notice
    order by id desc
    limit 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteAll">
    delete from job_notice
  </delete>
  <insert id="insert" parameterType="com.amoydays.jobs.entity.JobNotice">
    insert into job_notice (content)
    values (#{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amoydays.jobs.entity.JobNotice">
    insert into job_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amoydays.jobs.entity.JobNotice">
    update job_notice
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amoydays.jobs.entity.JobNotice">
    update job_notice
    set content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>