<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amoydays.jobs.dao.JobUpdateStringMapper">
  <resultMap id="BaseResultMap" type="com.amoydays.jobs.entity.JobUpdateString">
    <constructor>
      <idArg column="ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_read" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, content, is_read
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_update_string
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOneNoRead" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from job_update_string
    where is_read = false
    order by ID desc
    limit 0,1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_update_string
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.amoydays.jobs.entity.JobUpdateString">
    insert into job_update_string (content, is_read
      )
    values (#{content,jdbcType=VARCHAR}, #{isRead,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.amoydays.jobs.entity.JobUpdateString">
    insert into job_update_string
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="isRead != null">
        is_read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null">
        #{isRead,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amoydays.jobs.entity.JobUpdateString">
    update job_update_string
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null">
        is_read = #{isRead,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amoydays.jobs.entity.JobUpdateString">
    update job_update_string
    set content = #{content,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>