<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amoydays.jobs.dao.JobWarnMapper">
  <resultMap id="BaseResultMap" type="com.amoydays.jobs.entity.JobWarn">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="telephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="driver" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="is_read" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, telephone, driver, content, time, is_read
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from job_warn
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOneNoReadByDriverTel" parameterType="com.amoydays.jobs.vo.OrderSearch" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from job_warn
    <trim prefix="where ">
      <if test="driver != null">
        driver like CONCAT('%',#{driver},'%') and
      </if>
      <if test="telephone != null">
        telephone like CONCAT('%',#{telephone},'%') and
      </if>
    </trim>
    is_read = 0
    order by time desc
    limit 0,1
  </select>
  <select id="selectByOrderSearch" parameterType="com.amoydays.jobs.vo.OrderSearch" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from job_warn
    <trim prefix="where " suffixOverrides="and">
      <if test="startDate != null and endDate != null">
        time between #{startDate} and #{endDate} and
      </if>
      <if test="driver != null">
        driver like CONCAT('%',#{driver},'%') and
      </if>
      <if test="telephone != null">
        telephone like CONCAT('%',#{telephone},'%') and
      </if>
      <if test="isRead != null">
        is_read = #{isRead} and
      </if>
    </trim>
    order by time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_warn
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.amoydays.jobs.entity.JobWarn">
    insert into job_warn (telephone, driver,
    content, time, is_read
    )
    values (#{telephone,jdbcType=VARCHAR}, #{driver,jdbcType=VARCHAR},
    #{content,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{isRead,jdbcType=BIT}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.amoydays.jobs.entity.JobWarn">
    insert into job_warn
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="driver != null">
        driver,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="isRead != null">
        is_read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        #{driver,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="isRead != null">
        #{isRead,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amoydays.jobs.entity.JobWarn">
    update job_warn
    <set>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="driver != null">
        driver = #{driver,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="isRead != null">
        is_read = #{isRead,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amoydays.jobs.entity.JobWarn">
    update job_warn
    set telephone = #{telephone,jdbcType=VARCHAR},
    driver = #{driver,jdbcType=VARCHAR},
    content = #{content,jdbcType=VARCHAR},
    time = #{time,jdbcType=TIMESTAMP},
    is_read = #{isRead,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>