<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.amoydays.jobs.dao.SuperUserMapper">
  <resultMap id="BaseResultMap" type="com.amoydays.jobs.entity.SuperUser">
    <constructor>
      <idArg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="passwd" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    name, passwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from super_user
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="login" parameterType="com.amoydays.jobs.entity.SuperUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from super_user
    where name = #{name,jdbcType=VARCHAR} and passwd = #{passwd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from super_user
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.amoydays.jobs.entity.SuperUser">
    insert into super_user (name, passwd)
    values (#{name,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.amoydays.jobs.entity.SuperUser">
    insert into super_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.amoydays.jobs.entity.SuperUser">
    update super_user
    <set>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=VARCHAR},
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.amoydays.jobs.entity.SuperUser">
    update super_user
    set passwd = #{passwd,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>