<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>现代码头作业预登记平台</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="full-screen" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta content="false" id="twcClient" name="twcClient"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/setfont.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/qrcode.js"></script>
    <script src="/js/datePicker.js"></script>
</head>
<body>
<div class="searchw">
    <div class="searchTitle">操作员查询</div>
    <div class="searchcont">
        <form method="post" id="form1">
            <div class="inputs input_orderinfo">
                <li>
                    <span>操作员用户名：</span>
                    <div class="rbox2">
                        <input type="text" name="name" th:value="${orderSearchNew.name}" id="name"/>
                    </div>
                </li>
                <li>
                    <input type="button" value="查询" id="orderSearch"/>
                    <input type="button" value="新增管理员" onclick="goAdminUserAdd()" class="gotoaddPage"/>
                    <input type="button" value="消息发送查询" onclick="inRecordSearch()" class="gotoaddPage"/>
                </li>
            </div>
        </form>
        <table width="100%" class="orderinfo" cellpadding="0" cellspacing="0">
            <tr>
                <th>操作员用户名</th>
                <th>密码</th>
                <th>操作</th>
            </tr>
            <tr th:each="adminUser:${adminUserList}" class="orderTr">
                <td align="center" th:text="${adminUser.name}"></td>
                <td align="center" th:text="${adminUser.passwd}"></td>
                <td align="center">
                    <input type="button" value="修改" th:onclick="goAdminUserUpdate([[${adminUser.name}]],[[${adminUser.passwd}]])" />
                    <input type="button" value="删除" class="deletes" />
                    <span style="display:none" th:text="${adminUser.name}"></span>
                </td>
            </tr>
        </table>
    </div>
    <br/>
</div>

<script>
        //查询条件判断
		function cha(form) {

			return true;
		}
		$('#orderSearch').on('click', function() {
			if (true == cha(document.getElementById("form1"))) {
				document.getElementById("form1").action = "/super/adminUserSearch";
				document.getElementById("form1").submit();
			}
		})

		//进入新增操作员
		function goAdminUserAdd(){
			window.location.href="/super/goAdminUserAdd";
		}
		//进入消息发送查询功能
		function inRecordSearch(){
			window.location.href="/super/inRecordSearch";
		}
		//进入修改页面
		function goAdminUserUpdate(name,passwd){
			window.location.href="/super/goAdminUserUpdate?name="+name;
		}
		//删除功能
		$(document).ready(function(){
			$(".deletes").click(function(){
				 if(confirm('您确定删除吗?此操作将不能恢复')){
				  	$(this).parents("tr").animate({ opacity: 'hide' }, "slow");
				    var a = $(this).next("span").html();
				    deleteMethod(a);
				 	return true;
				 }else{
				    return false;
				 }
			});
		});
		function deleteMethod(name){
			var params="name="+name+"&randon="+ new Date().getTime();
			$.ajax({
			    type: "get",
				url: "/super/adminUserDel",
				data:params,
				success: function(responseData, textStatus){
					alert('删除成功');
				},
				error: function(){
					alert("网络传输出错,请再试一次!");
				}
			});
		}

</script>
</body>
</html>